<div class="container">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="changeDetails-tab" data-bs-toggle="pill" data-bs-target="#changeDetails" type="button" role="tab" aria-controls="changeDetails" aria-selected="true">Change User Details</button>
        </li>
    </ul>


    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="changeDetails" role="tabpanel" aria-labelledby="changeDetails-tab">
            asdfsd
        </div>
    </div>
</div>