<div class="container">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="companyDetails-tab" data-bs-toggle="pill" data-bs-target="#companyDetails" type="button" role="tab" aria-controls="companyDetails" aria-selected="true">View Company Detail</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="getPeriod-tab" data-bs-toggle="pill" data-bs-target="#getPeriod" type="button" role="tab" aria-controls="getPeriod" aria-selected="true">Get Period Data</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="comparePeriod-tab" data-bs-toggle="pill" data-bs-target="#comparePeriod" type="button" role="tab" aria-controls="comparePeriod" aria-selected="true">Compare Period Data</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="viewIPO-tab" data-bs-toggle="pill" data-bs-target="#viewIPO" type="button" role="tab" aria-controls="viewIPO" aria-selected="true">View IPOs</button>
        </li>
        
    </ul>


    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active mt-4" id="companyDetails" role="tabpanel" aria-labelledby="companyDetails-tab">
            <form action="">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="code">Code:</span>
                    <input type="number" [(ngModel)]="companyCode" class="form-control" placeholder="Company Code" aria-label="code" name="code" required>
                </div>
                <button class="btn btn-primary" (click) = "getCompanyData()">Press to me get data</button>
            </form>
            <div class=" mt-4" *ngIf="companyDetails.name!='X'">
                <h3>Company Details</h3>
                <table class="table table-bordered mt-4" >
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Company Code</th>
                            <th scope="col">Company Name</th>
                            <th scope="col">Company Turnover</th>
                            <th scope="col">Company CEO</th>
                            <th scope="col">Company About</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                           <th scope="row">{{ companyDetails.code }}</th>
                           <td>{{ companyDetails.name }}</td> 
                           <td>{{ companyDetails.turnover }}</td> 
                           <td>{{ companyDetails.ceo }}</td> 
                           <td>{{ companyDetails.about }}</td> 
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mt-4" *ngIf="director.length > 0 ">
                <h3>Director Details</h3>
                <table class="table mt-4 table-bordered" >
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Director Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dr of director; let i = index" [attr.data-index]="i">
                           <th scope="row">{{ i+1 }}</th>
                           <td>{{ dr.directorName }}</td> 
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class=" mt-4" *ngIf="sector.length > 0 ">
                <h3>Sector Details</h3>
                <table class="mt-4 table table-bordered" >
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Sector ID</th>
                            <th scope="col">Sector Name</th>
                            <th scope="col">Sector About</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sr of sector; let i = index" [attr.data-index]="i">
                           <th scope="row">{{ i+1 }}</th>
                           <td>{{ sr.id  }}</td> 
                           <td>{{ sr.name }}</td> 
                           <td>{{ sr.about }}</td> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>  
        <div class="tab-pane fade" id="getPeriod" role="tabpanel" aria-labelledby="getPeriod-tab">
            <form action="">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="code">Code:</span>
                    <input type="number" [(ngModel)]="companyCode" class="form-control" placeholder="Company Code" aria-label="code" name="code" required>
                </div>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="exchange">Exchange ID:</span>
                    <input type="text" [(ngModel)]="exchangeID" class="form-control" placeholder="Exchange ID" aria-label="exchange" name="exchange" required>
                </div>

                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="fromDate">From Date Time:</span>
                    <input type="datetime-local" [(ngModel)]="fromTime" class="form-control" placeholder="From Date Time" aria-label="fromDate" name="fromDate" required>
                </div>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="toDate">To Date Time:</span>
                    <input type="datetime-local" [(ngModel)]="toTime" class="form-control" placeholder="To Date Time" aria-label="toDate" name="toDate" required>
                </div>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="period">Periodicity:</span>
                    <input type="number" [(ngModel)]="period" class="form-control" placeholder="Periodicity" aria-label="period" name="period" required>
                </div>

                <button class="btn btn-primary" (click) = "getPeriodData()">Press to me get data</button>
            
            </form>
            
                    <google-chart
                        [title]="chart.title"
                        [type] = "chart.type"
                        [data]="chart.data"
                        [columns]="chart.columnNames"
                        [options]="chart.options"
                        [width]="chart.width"
                        [height]="chart.height"
                        *ngIf="stock.length != 0"
                        >
                    </google-chart>
        </div>
        <div class="tab-pane fade" id="comparePeriod" role="tabpanel" aria-labelledby="comparePeriod-tab">
            <form action="">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="code">Code:</span>
                    <input type="number" [(ngModel)]="companyCode" class="form-control" placeholder="First Company Code" aria-label="code" name="code" required>
                </div>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="exchange">Exchange ID:</span>
                    <input type="text" [(ngModel)]="exchangeID" class="form-control" placeholder="Exchange ID" aria-label="exchange" name="exchange" required>
                </div>

                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="fromDate">From Date Time:</span>
                    <input type="datetime-local" [(ngModel)]="fromTime" class="form-control" placeholder="From Date Time" aria-label="fromDate" name="fromDate" required>
                </div>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="toDate">To Date Time:</span>
                    <input type="datetime-local" [(ngModel)]="toTime" class="form-control" placeholder="To Date Time" aria-label="toDate" name="toDate" required>
                </div>


                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="code">Second Code:</span>
                    <input type="number" [(ngModel)]="companyCode2" class="form-control" placeholder="Second Company Code" aria-label="code" name="code" required>
                </div>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="exchange">Second Exchange ID:</span>
                    <input type="text" [(ngModel)]="exchangeID2" class="form-control" placeholder="Exchange ID" aria-label="exchange" name="exchange" required>
                </div>

                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="fromDate">From Date Time:</span>
                    <input type="datetime-local" [(ngModel)]="fromTime2" class="form-control" placeholder="From Date Time" aria-label="fromDate" name="fromDate" required>
                </div>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="toDate">To Date Time:</span>
                    <input type="datetime-local" [(ngModel)]="toTime2" class="form-control" placeholder="To Date Time" aria-label="toDate" name="toDate" required>
                </div>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="period">Periodicity:</span>
                    <input type="number" [(ngModel)]="period" class="form-control" placeholder="Periodicity" aria-label="period" name="period" required>
                </div>

                <button class="btn btn-primary" (click) = "getPeriodData2()">Press to me get data</button>
            
            </form>

            <button type="button" class="btn btn-info" (click) = "combinedCharts=!combinedCharts" *ngIf="stock.length != 0 and stock2.length != 0">{{combinedCharts==true?'Seperate Charts':'Combine Charts'}}</button>

            <div *ngIf="!combinedCharts">
                    <google-chart
                        [title]="chart.title"
                        [type] = "chart.type"
                        [data]="chart.data"
                        [columns]="chart.columnNames"
                        [options]="chart.options"
                        [width]="chart.width"
                        [height]="chart.height"
                        *ngIf="stock.length != 0"
                        >
                    </google-chart>

                    <google-chart
                        [title]="chart2.title"
                        [type] = "chart2.type"
                        [data]="chart2.data"
                        [columns]="chart2.columnNames"
                        [options]="chart2.options"
                        [width]="chart2.width"
                        [height]="chart2.height"
                        *ngIf="stock2.length != 0"
                        >
                    </google-chart>
            </div>

            <div *ngIf="combinedCharts">
                <google-chart
                [title]="combinedChart.title"
                [type] = "combinedChart.type"
                [data]="combinedChart.data"
                [columns]="combinedChart.columnNames"
                [options]="combinedChart.options"
                [width]="combinedChart.width"
                [height]="combinedChart.height"
                >
            </google-chart>
            </div>

        </div>
        <div class="tab-pane fade" id="viewIPO" role="tabpanel" aria-labelledby="viewIPO-tab">
            
            <table class="table" *ngIf="ipo != []">
                <thead>
                    <th scope="col">IPO Id</th>
                    <th scope="col">Company Id</th>
                    <th scope="col">Exchange Id</th>
                    <th scope="col">Count Shares</th>
                    <th scope="col">Price</th>
                    <th scope="col">Opening Date</th>
                    <th scope="col">Remarks</th>
                </thead>
                <tbody >
                    <tr *ngFor="let ipo_ind of ipo.slice(index,index+pageSize)">
                        <td>{{ ipo_ind.id }}</td>
                        <td>{{ ipo_ind.companyId }}</td>
                        <td>{{ ipo_ind.exchangeId }}</td>
                        <td>{{ ipo_ind.countShares }}</td>
                        <td>{{ ipo_ind.price }}</td>
                        <td>{{ ipo_ind.openingDateTime }}</td>
                        <td>{{ ipo_ind.remarks }}</td>
                    </tr>
                    <tr>
                        <td><button type="button" class="btn btn-primary" (click) = "decrementIndex()">Previous</button></td>
                        <td colspan="5">
                            <div style="text-align: center;">
                                <button type="button" class="btn btn-info" [disabled] = "pageNumber == 1" (click) = "changePage(p1)">{{ p1 }}</button>
                                <button type="button" class="btn btn-info" (click) = "changePage(p2)">{{ p2 }}</button>
                                <button type="button" class="btn btn-info" [disabled] = "disabled3" (click) = "changePage(p3)">{{ p3 }}</button>
                            </div>
                        </td>
                        <td><button type="button" class="btn btn-primary" (click) = "incrementIndex()">Next</button></td>
                    </tr>
                </tbody>
                
                
            </table>
        </div>
    </div>
</div>